.mycontainer
{
background: #f0ead6;
font-size: 18px;

font-style:bold;

width:100%;
margin-top:0;
margin-left:0;
font-family: "Raleway", sans-serif;
}

ul li
{
	list-style-type: none;
	display:inline;
	padding:0;
	margin:0;
	
}
.forms
{
	background:white;
	padding:20px;
	
}
.forms button:hover
{
border-radius:25px;
	background:#a0522d;
	color:white;	
}

.nav-item a
{   text-decoration:none;
	color: #8b4513;
	
	padding:5px;
	margin-left:0;
}
.nav-item a:hover
{   border-radius:25px;
	background:#a0522d;
	color:white;
}

	
	#slideshow {
		margin-top:10px;
		overflow: hidden;
		height: 300px;
		width: 400px;
		margin: 0 auto;
	}
	
	/* Style each of the sides
	with a fixed width and height */
	h1
	{color:white;
	font-style:italic;
	font-size:30px;
	}
	.slide {
		
		float:left;
		
		border-radius:25px;
		height: 300px;
		width: 400px;
	}
	
	/* Add animation to the slides */
	
	.slide-wrapper {
		
		/* Calculate the total width on the
	basis of number of slides */
		width: calc(400px * 4);
		
		/* Specify the animation with the
	duration and speed */
		animation: slide 15s ease infinite;
	}
	
	/* Set the background color
	of each of the slides */
	.slide img
	{float:center;
	padding:10px;
	
	margin-top:20px;
	}
	.slide p
	{
		color:grey;
		font-style:italic;
		font-size:20px;
	}
	
	.slide:nth-child(1) {
		background: white;
	}
	
	.slide:nth-child(2) {
		
		background:#faebd7;
	}
	
	.slide:nth-child(3) {
		background:#ffdead;
	}
	
	.slide:nth-child(4) {
		background: #efdecd;
	}
	
	/* Define the animation
	for the slideshow */
	
	@keyframes slide {
		
		/* Calculate the margin-left for
	each of the slides */
		20% {
			margin-left: 0px;
		}
		40% {
			margin-left: calc(-400px * 1);
		}
		60% {
			margin-left: calc(-400px * 2);
		}
		80% {
			margin-left: calc(-400px * 3);
		}
	}
	
	.footer
	{
		color:#a0522d;
		
		font-size:10px;
		
		
	}
